doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    block content

    script(src="https://code.jquery.com/jquery-1.11.2.min.js")
    script(src="http://code.highcharts.com/highcharts.js")
    script(src="http://code.highcharts.com/modules/exporting.js")
    script(src="/socket.io/socket.io.js")
    script.
        var socket = io.connect('http://10.10.10.53:3000');
    script(src="/javascripts/client.pushData.js")
    script(src="/javascripts/chart.js")